<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${'Dashboard - MY BANK'}"></title>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/dashboard.css'}">
    <script th:src="@{'/js/dashboard.js'}"></script>
</head>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid flex-row-reverse-ns px-0">
            <li class=" nav-item d-flex ml-3 mt-3">
                <img src="/images/bank-logo.png" alt="Logo" th:height="50px" th:width="50px">
                <h3 class="title-text" th:text="${'&nbsp My Bank'}">
                    <i class="fa fa-globe"></i>
                </h3>
            </li>

            <ul class="navbar-nav flex-row">
                <li class="nav-item m-2">
                    <h4 id="Username" class="mt-4"></h4>
                </li>
                <li class="nav-item m-2">
                    <a th:href="@{'/logout'}">
                        <button class="rounded-4 border-0 col-10  text-white " th:text="Logout"></button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Second nabar-->


    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown ml-3" aria-haspopup="false">
                        <a class="nav-link dropdown-toggle" href="#" id="accountsDropdownToggle" role="button"
                           data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                            Accounts <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" style="min-width: 3rem;">
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}" th:text="${'List all Deposits'}"></a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}" th:text="${'Search Deposits'}"></a>
                        </div>


                    </li>

                    <li class="nav-item dropdown ml-3">
                        <a class="nav-link dropdown-toggle" href="#" id="depositsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Deposits <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" style="min-width: 3rem;">
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Available Deposits</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Search Deposits</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Deposit Calculator</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Avail Deposits</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown ml-3">
                        <a class="nav-link dropdown-toggle" href="#" id="paymentsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Insurance <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" style="min-width: 3rem;">
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">List Insurance plans</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Search Insurance</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Choose Insurance And View benefits</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Avail Insurance</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown ml-3">
                        <a class="nav-link dropdown-toggle" href="#" id="loansDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Loans <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" style="min-width: 3rem;">
                        <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">List Available Loans</a>
                        <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Search Loans</a>
                        <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Choose Loan and EMI Calculator</a>
                        <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Apply Loan</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown ml-3">
                        <a class="nav-link dropdown-toggle" href="#" id="cardsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cards <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" style="min-width: 3rem;">
                            <a class="dropdown-item" th:href="@{'/card/view'}" th:text="${'View Cards'}"></a>
                        </div>
                    </li>

                    <li class="nav-item dropdown ml-3">
                        <a class="nav-link dropdown-toggle" href="#" id="insuranceDropdown" role="button"
                           data-toggle="dropdown">
                            Payments <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Search Payee</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Option 2</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">List available payee</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">New Payee</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Modify Payee</a>
                            <a class="dropdown-item" th:href="@{'/card/error?code=400&message=Requested page is not available, Page Under Construction'}">Make Payment</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<br><br>
<body>
<!--Caurosel-->

<div id="depositesSlide" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#depositesSlide" data-slide-to="0" class="active"></li>
        <li data-target="#depositesSlide" data-slide-to="1"></li>
        <li data-target="#depositesSlide" data-slide-to="2"></li>
        <li data-target="#depositesSlide" data-slide-to="3"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/background-one.jpg" alt="Slide 1" class="d-block w-100" style="height: 400px;">>
        </div>
        <div class="carousel-item">
            <img src="/images/background-two.jpg" alt="Slide 2" class="d-block w-100" style="height: 400px;">
        </div>
        <div class="carousel-item">
            <img src="/images/background-three.jpg" alt="Slide 3"  class="d-block w-100" style="height: 400px;">
        </div>
        <div class="carousel-item">
            <img src="/images/background-four.jpg" alt="Slide 3" class="d-block w-100" style="height: 400px;">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#depositesSlide" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#depositesSlide" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

</body>
<!--footer section-->

<footer th:fragment="footer" class="footer text-center text-lg-start text-white" style="background-color: #182052; border-radius: 2rem 2rem 0 0">
    <div class="p-4 pb-0">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <div class="row">
                    <div class="col">
                        <a class="navbar-brand d-flex" href="#">
                            <img th:src="@{'/images/bank-logo.png'}" alt="Logo" width="50px" height="50px" class="d-inline-block align-text-top">
                            <h3 class="title-text" style="color: #f7f7f7" th:text="${'&nbsp My Bank'}">
                                <i class="fa fa-globe"></i>
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Company</h6>
                <p><a>Home</a></p>
                <p><a>About</a></p>
                <p><a>Solutions</a></p>
                <p><a>Pricing</a></p>
                <p><a>Team</a></p>
                <p><a>Career</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Documentation</h6>
                <p><a>Help Centre</a></p>
                <p><a>Contact</a></p>
                <p><a>FAQ</a></p>
                <p><a>Privacy Policy</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Social</h6>
                <p><a> Facebook</a></p>
                <p><a> Instagram</a></p>
                <p><a> Youtube</a></p>
                <p><a> Twitter</a></p>
            </div>
        </div>

        <hr class="bg-white mt-0">

        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <div class="col-md-7 col-lg-4 text-center text-md-start">
                    <div class="p-3">
                        <p>© MyBank Inc. All Rights Reserved 2024</p>
                    </div>
                </div>
                <div class="col-md-5 col-lg-8 ml-lg-0 text-center text-md-end justify-content-end">
                    <p>Terms & Conditions</p>
                </div>
            </div>
        </section>
    </div>
</footer>
</html>
