<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My Bank</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/index.css'}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="bg-dark text-white">

<div id="title-logo" class="mx-auto">
    <img src="/images/bank-logo.png" alt="Logo" th:height="50px" th:width="50px">
    <h3 class="title-text" th:text="${'&nbsp My Bank'}">
        <i class="fa fa-globe"></i>
    </h3>
</div>

<div class="container mt-3">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
            <h1 class="login-text" th:text="${'Login'}"></h1>
            <h3 th:text="${'Sign in to continue'}"></h3>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card text-white mx-auto mb-3 p-3 shadow-lg">
                <h2 class="mb-4">Sign in</h2>
                <h3 th:if="${param.error}" class="error-message" th:text="${session?.SPRING_SECURITY_LAST_EXCEPTION?.message}"></h3>
                <h5 th:if="${param.errors}" class="error-message" th:text="${param.errors}"></h5>
                <form action="#" th:action="@{'/card/login'}" method="post" id="login-form">
                    <!-- Username Input -->
                    <div class="form-group">
                        <label for="username" th:text="${'Username'}"></label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                    </div>
                    <!-- Password Input -->
                    <div class="form-group">
                        <label for="password" th:text="${'Password'}"></label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <button type="submit" id="login" class="btn btn-orange mb-3" th:text="${'Login'}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
